<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
">
    <!--配置springmvc 二：开启包扫描 一个类要交给spring可以写bean标签
        也可以加注释
        Controller  @Controller

    -->
    <context:component-scan base-package="pack01.controller"></context:component-scan>
    <!-- 配置springmvc 四 -->
    <!--请求处理器映射器  url与方法的绑定  search  绑定 search方法 -->
<!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>-->
    <!--请求处理器适配器 处理search方法的参数与返回值-->
<!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>-->

    <!--视图解析器
         return "/WEB-INF/views/success.jsp";
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置页面地址的前缀-->
        <property name="prefix" value="/WEB-INF/views/"></property>
        <!--配置页面地址的后缀-->
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!-- 配置springmvc 五 读的是@RequestMap -->
    <mvc:annotation-driven></mvc:annotation-driven>
</beans>